{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("css/product_index.css") }}"/>
{% endblock %}

{% block title %}Products
{% endblock %}

{% block body %}
	<h1>Products</h1>

	<main>
		{% if products %}
			<section class="productList">
				{% for product in products %}
					<article class="productCard">
						<p class="productName">{{ product.name }}</p>
						<img src="{{ product.urlImage }}" alt="Placeholder" class="productImg"/>
						<p class="productPrice">{{ product.price }}€</p>
						<p class="productDesc">{{ product.description }}</p>
						{% if app.user %}
							{% if "ROLE_ADMIN" in app.user.roles %}
								<div class="productActions">
									<a href="{{ path('app_product_show', {'id': product.id}) }}" class="routeButton">show</a>
									<a href="{{ path('app_product_edit', {'id': product.id}) }}" class="routeButton">edit</a>
								</div>
							{% endif %}
						{% endif %}
					</article>
				{% endfor %}
			</section>
			{% if app.user %}
				{% if "ROLE_ADMIN" in app.user.roles %}
					<a href="{{ path('app_product_new') }}" class="routeButton">Add a product</a>
				{% endif %}
			{% endif %}
		{% else %}
			<p>no records found</p>
		{% endif %}
	</main>
{% endblock %}
