<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<link rel="stylesheet" href="{{ asset("css/reset.css") }}"/>
		<link rel="stylesheet" href="{{ asset("css/theme.css") }}"/> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<body>
			<header>
				<nav>
					<div class="justify-start">
						<a href="{{ path("app_home") }}">Home</a>
						<a href="{{ path("app_product_index") }}">Products</a>
					</div>
					<div class="justify-end">
						<p id="user-email" class="primaryColor justify-end">
							{% if app.user %}
								<a href="">{{ app.user.firstname }}
									{{ app.user.name }}</a>
							{% endif %}
						</p>
						<a href="{{ path(app.user ? "app_logout" : "app_login") }}" class="justify-end">{{ app.user ? "Logout" : "Login" }}</a>
					</div>
				</nav>
			</header>
			{% block body %}{% endblock %}
		</body>
	</html>
</body></html>
